* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.transparent {
  width: 700px;
  height: 500px;
  background: rgba(116, 113, 113, 0.6);
  position: absolute;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section h1 {
  color: rgb(75, 74, 74);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
section p {
  font-size: 16px;
  color: gray;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 30px;
}
section input {
  font-size: 30px;
  border-radius: 6px;
  border: solid 1px gray;
}
.map {
  display: flex;
  flex-direction: column;
}
button {
  width: 80%;
  height: 5vh;
  background-color: blueviolet;
  margin-top: 15px;
  border: none;
}
form {
  margin-top: 15px;
}
