* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 100px;
}
.jedan,
.dva,
.tri {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  animation-iteration-count: infinite;
  animation-name: anim1;
  animation: 2s all linear;
}
.jedan {
  animation-delay: 0.5s;
}
.dva {
  animation-delay: 1s;
}

ul li {
  display: inline-block;
  padding: 3px;
}
@keyframes anim1 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
