* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 15vh;
  padding: 10px 20px;
  padding-top: 25px;
  position: relative;
}

img {
  margin-left: 15px;
  width: 170px;
  height: 85px;
  font-size: 40px;
  display: inline-block;
}

ul {
  margin-top: 12px;
  display: inline-block;
  position: absolute;
  left: 300px;
  width: 40%;
  list-style-type: none;
}

li {
  display: inline-block;
  font-size: 19px;
  padding: 5px 15px;
  margin: 0 5px;
  color: black;
}

li:hover {
  background-color: black;
  color: white;
}
nav ul li ul li h1 {
  border-bottom: solid 1px gray;
}
nav ul li a {
  display: block;
  color: black;
  font-size: 18 px;
  padding: 10px;
  text-decoration: none;
}
nav ul li ul,
.zene {
  display: none;
  position: absolute;
  top: 20px;
  left: 0px;
}
nav ul li ul li {
  width: 180px;
}
nav ul li:hover ul {
  display: block;
}
nav ul li ul li a:hover {
  color: white;
}
.zene {
  left: 144px;
}
