.background{
    background-color: black;
}
.divclass{
width: 400px;
height: 400px;
background-color: #111618;
border: solid 0.5px white;
margin: 600px;
border-radius: 30px;
}

.firsticon{
width: 40px;
height: 40px;
border: 1px solid black;
border-radius: 50%;
margin: 15px  15px;
}

.heading{
    font-size: 25px;
    color: white;
    margin-left: 18px;
}

.img{
width: 350px;
height: 150px;
margin: 0px 20px;
border: 1px solid white;
border-radius: 25px;
}

.icons{
list-style: none;
margin: 0;
padding: 0;
}
.icons li{
    display: inline-block;
    padding: 15px;
}

.icon1{
color: gray;
}

.icon2{
    width: 30px;
    height: 30px;
    color: black;
     font-size: 20px;
}
